body {
    font-family: sans-serif;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}

h1, h2 {
    font-weight: normal;
}

button {
    border: 1px solid silver;
    background-color: #eee;
    border-radius: 4px;
    padding: 0.5em;
    font: inherit;
}

input {
    padding: 0.5em;
    background-color: white;
    border: 1px solid silver;
    border-radius: 4px;
    font: inherit;
    box-sizing: border-box;
}

input[type='datetime-local'],
input[type='text'] {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.current-activity-display {
    display: flex;
    margin-bottom: 1em;
}

.current-activity-display h1 {
    flex-grow: 1;
    margin: 0;
}

.start-activity-form {
    display: flex;
}

.start-activity-form input {
    flex: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.start-activity-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.activity-list {
    border-spacing: 0.5em 0.5em;
    border-collapse: separate;
    width: 100%;
}

.activity-list-title-column {
    width: 99%;
}

.activity-list-duration-column {
    white-space: nowrap;
    text-align: right;
}

.tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.tag-list li {
    display: inline-block;
    background-color: orange;
    padding: 0.25em;
    font-size: 0.75em;
    border-radius: 2px;
    margin-left: 0.25em;
}

.dim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    background-color: white;
    padding: 1em;
    max-width: 400px;
    margin: 4em auto;
    border-radius: 4px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
}
