@import (inline) 'node_modules/normalize.css/normalize.css';

@brand-color: #2ecc71;
@gray: #f2f2f2;
@tag-color: #009688;

@radius: 4px;
@width: 500px;

body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: @gray;
}

section, nav {
    max-width: @width;
    margin: 0 auto;
}

section {
    padding: 1em;
}

header {
    background-color: @brand-color;
}

h1, h2 {
    font-weight: normal;
}

button {
    background-color: @brand-color;
    border: none;
    border-bottom: 1px solid darken(@brand-color, 10%);
    border-radius: @radius;
    padding: 0.75rem;

    &:hover {
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        background-color: lighten(@brand-color, 5%);
    }

    &:focus {
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid darken(@brand-color, 20%);
    }

    &:active {
        border-bottom: none;
        background-color: darken(@brand-color, 5%);
        box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.25);
    }
}

input {
    padding: 1rem;
    background-color: white;
    border: none;
    border-bottom: 1px solid silver;
    box-sizing: border-box;
    border-radius: @radius;

    &:hover {
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
    }

    &:focus {
        border-bottom-color: #aaa;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    }
}

input[type='datetime-local'],
input[type='text'] {
    width: 100%;
}

input[type='search'] {
    width: 100%;
    padding-left: 3rem;
}

.search-container {
    margin-bottom: 1rem;
    position: relative;
}

.search-container::before {
    content: '🔍';
    position: absolute;
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

.time-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
        margin: 0;
    }
}

.current-activity-display {
    display: flex;
    margin-bottom: 1em;

    > * {
        padding: 1rem;
        background-color: white;
        border-bottom: 1px solid silver;
    }

    button {
        background: none;
        background-color: white;
        border: none;
        border-left: 1px solid silver;
        border-bottom: 1px solid silver;
        border-radius: 0;
        border-top-right-radius: @radius;
        border-bottom-right-radius: @radius;
        color: rgba(0, 0, 0, 0.5);

        &:not(:disabled):hover {
            color: black;
        }
    }
}

.current-activity {
    flex-grow: 1;
}

.current-activity-duration {
    color: gray;
    margin-top: 0.25rem;
}

.current-activity-status {
    width: 2.25rem;
    background-color: @brand-color;
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
    border-color: darken(@brand-color, 10%);

    .no-activity & {
        background-color: #888;
        border-color: #555;
    }
}

.no-activity {
    color: #555;
    line-height: 2.25rem;
}

.start-activity-form {
    margin-bottom: 1em;
    position: relative;
}

.start-activity-form input {
    width: 100%;
}

.start-activity-form button {
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.activity-list {
    width: 100%;
    list-style-type: none;
    display: table;
    margin: 0;
    padding: 0;

    > li {
        display: table-row-group;
        margin: 0;

        &:last-child a > span {
            &:first-child {
                border-bottom-left-radius: @radius;
            }

            &:last-child {
                border-bottom-right-radius: @radius;
            }
        }
    }

    a {
        display: table-row;
        text-decoration: none;
        color: inherit;

        &:hover > span {
            background-color: #f8f8f8;
            cursor: default;
        }

        > span {
            display: table-cell;
            padding: 0.5rem 0.5rem;
            border-bottom: 1px solid #d4d4d4;
            background-color: white;

            &.activity-list-time-separator {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.activity-list-time-column {
    color: #888;
    white-space: nowrap;
}

.activity-list-time-end {
    text-align: right;
}

.activity-list-title-column {
    width: 99%;
}

.activity-list-duration-column {
    white-space: nowrap;
    text-align: right;
    color: #888;
}

.tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.tag-list li {
    display: inline-block;
    background-color: @tag-color;
    color: white;
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 2px;
    margin-left: 0.25em;
}

.activity-summary-total-duration {
    float: right;
    font-weight: normal;
}

.action-area button:not(:last-child) {
    margin-right: 0.5em;
}

.activity-stats {
    width: 100%;
}

.activity-stats-container {
    cursor: pointer;

    &:hover .activity-stats-bar {
        background-color: lighten(@brand-color, 5%);
    }

    &.selected {
        color: blue;

        .activity-stats-bar {
            background-color: lighten(@brand-color, 10%);
        }
    }
}

.activity-stats-title {
    font-weight: normal;
    text-align: right;
    width: 1%;
}

.activity-stats-duration {
    position: relative;
}

.activity-stats-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @brand-color;
    z-index: -1;
    text-align: right;
    white-space: nowrap;
    transition: width 300ms ease-out;
}

nav {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-grow: 1;
}

nav img {
    height: 24px;
    margin: 0 1rem;
}

.spacer {
    flex: 1;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: auto 40%;
    padding: 1rem;

    border-right: 1px solid darken(@brand-color, 7%);
}

nav a:first-of-type,
.spacer + a {
    border-left: 1px solid darken(@brand-color, 7%);
}

nav a.selected {
    color: white;
    background-color: darken(@brand-color, 5%);
}

.item-icon {
    padding-left: 3rem;
}

.item-menu {
    background-image: url(/list.svg);
    display: none;
}

.item-main {
    background-image: url(/clock.svg);
}

.item-list {
    background-image: url(/list.svg);
}

.item-stats {
    background-image: url(/stats.svg);
}

@media only screen and (max-device-width: 480px) {
    nav {
        flex-direction: column;
    }

    .spacer {
    }

    .nav-items {
        display: none;
        flex-direction: column;
        width: 100%;

        a {
            border-left: none;
            border-top: 1px solid darken(@brand-color, 7%);
        }
    }

    .nav-items.open {
        display: flex;
    }

    .nav-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-menu {
        display: block;
    }
}

.activity-summary-day {
    margin-top: 1em;

    &:first-child {
        margin-top: 0;
    }

    h3 {
        background-color: @brand-color;
        color: white;
        padding: 0.75rem;
        margin: 0;
        border-top-right-radius: @radius;
        border-top-left-radius: @radius;
    }

    &.inactive h3 {
        background-color: silver;
        font-size: 75%;
        padding: 0.5rem;
        border-bottom-right-radius: @radius;
        border-bottom-left-radius: @radius;
    }
}

.login-form {
    input {
        width: 100%;
        margin-bottom: 1em;
    }

    button {
        width: 100%;
        background-color: lightgreen;
    }
}

.day-donut path {
    transition: opacity 300ms ease-out;
    stroke: @brand-color;
    fill: none;
}

.day-donut text {
    font-size: 8px;
    text-anchor: middle;
    dominant-baseline: central;
    fill-opacity: 0.5;
}

.day-table {
    text-align: center;
}

.day-table td:hover {
    .day-table-header {
        color: black;
    }

    .day-table-circle {
        background-color: lighten(@brand-color, 5%);
    }
}

.day-table-header {
    color: gray;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.day-table-circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: @brand-color;
    border-radius: 50%;
    vertical-align: middle;
    transition: transform 300ms ease-out;
}

.date-filter {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .start-date {
        flex-grow: 1;
        text-align: right;
        margin-right: 1em;
    }

    .end-date {
        flex-grow: 1;
        text-align: left;
        margin-left: 1em;
    }
}
