@import (inline) 'node_modules/normalize.css/normalize.css';

@blue: #4a90e2;
@gray: #f2f2f2;

@width: 400px;

body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: @gray;
}

section, nav {
    max-width: @width;
    margin: 0 auto;
}

section {
    padding: 1em;
}

header {
    background-color: @blue;
}

h1, h2 {
    font-weight: normal;
}

button {
    border: 1px solid silver;
    background-color: #eee;
    border-radius: 4px;
    padding: 0.5em;
    font: inherit;
}

input {
    padding: 0.5em;
    background-color: white;
    border: 1px solid silver;
    border-radius: 4px;
    font: inherit;
    box-sizing: border-box;
}

input[type='datetime-local'],
input[type='text'] {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.current-activity-display {
    display: flex;
    margin-bottom: 1em;
}

.current-activity-display h1 {
    flex-grow: 1;
    margin: 0;
}

.start-activity-form {
    display: flex;
    margin-bottom: 1em;
}

.start-activity-form input {
    flex: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.start-activity-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.activity-list {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}

.activity-list tr:hover {
    background-color: #f8f8f8;
}

.activity-list td {
    padding: 0.5em 0.25em;
    border-bottom: 1px solid #d4d4d4;
}

.activity-list-time-column {
    color: #888;
}

.activity-list-title-column {
    width: 99%;
}

.activity-list-duration-column {
    white-space: nowrap;
    text-align: right;
    color: #888;
}

.tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.tag-list li {
    display: inline-block;
    background-color: @blue;
    color: white;
    padding: 0.25em;
    font-size: 0.75em;
    border-radius: 2px;
    margin-left: 0.25em;
}

.activity-summary-total-duration {
    float: right;
}

.action-area button:not(:last-child) {
    margin-right: 0.5em;
}

.activity-stats {
    width: 100%;
}

.activity-stats-title {
    font-weight: normal;
    text-align: right;
    width: 1%;
}

.activity-stats-duration {
    position: relative;
}

.activity-stats-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @blue;
    z-index: -1;
    text-align: right;
    white-space: nowrap;
}

.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabs li {
    display: inline-block;
}

.tabs a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

.tabs a.selected {
    color: white;
    background-color: darken(@blue, 10%);
}

.activity-summary-day {
    background-color: white;
    margin-top: 1em;

    &:first-child {
        margin-top: 0;
    }

    h3 {
        background-color: @blue;
        color: white;
        padding: 0.5em;
        margin: 0;
    }
}

.login-form {
    input {
        width: 100%;
        margin-bottom: 1em;
    }

    button {
        width: 100%;
        background-color: lightgreen;
    }
}

.day-donut text {
    font-size: 8px;
    text-anchor: middle;
    dominant-baseline: central;
    fill-opacity: 0.5;
}
