body {
    font-family: sans-serif;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}

h1, h2 {
    font-weight: normal;
}

button {
    border: 1px solid silver;
    background-color: #eee;
    border-radius: 4px;
    padding: 0.5em;
    font: inherit;
}

input {
    padding: 0.5em;
    background-color: white;
    border: 1px solid silver;
    border-radius: 4px;
    font: inherit;
    box-sizing: border-box;
}

input[type='datetime-local'],
input[type='text'] {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.current-activity-display {
    display: flex;
    margin-bottom: 1em;
}

.current-activity-display h1 {
    flex-grow: 1;
    margin: 0;
}

.start-activity-form {
    display: flex;
}

.start-activity-form input {
    flex: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.start-activity-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.activity-list {
    border-spacing: 0.5em 0.5em;
    border-collapse: separate;
    width: 100%;
}

.activity-list-title-column {
    width: 99%;
}

.activity-list-duration-column {
    white-space: nowrap;
    text-align: right;
}
